version: 2

updates:
  - package-ecosystem: "bun"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "23:00"
      timezone: "America/New_York"
    open-pull-requests-limit: 4
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(deps)"
    groups:
      bun-minor-and-patch:
        update-types:
          - "minor"
          - "patch"
      bun-major:
        update-types:
          - "major"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "23:00"
      timezone: "America/New_York"
    open-pull-requests-limit: 1
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(ci)"
    groups:
      github-actions-all:
        patterns:
          - "*"
